* {
  margin: 0;
  padding: 0;
  font-family: Times New Roman;
  box-sizing: border-box;
}
body {
  background-color: #9d9d9d;
  padding: 30px;
}
.main {
  max-width: 550px;
  padding: 15px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #fff;
}
.head {
  background: linear-gradient(to right, #27e6ec, #6f71a1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: -15px -15px 0px -15px;
  padding: 10px;
  color: #1a334a;
}
h3 {
  margin: 5px;
}
table {
  margin: 5px;
}
table th {
  font-weight: normal;
  text-align: left;
  width: 200px;
  max-width: 200px;
}
input[type="text"], input[type="date"], input[type="number"], input[type="email"] {
  all: unset;
  border-bottom: 0.5px solid grey;
}
.file {
  display: box;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 3px;
}
.submit {
  display: block;
  margin: 0px auto;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to left, #27e6ec, #6f71a1);
}
.input {
  text-align: center;
}